.vehiculo-unidad .row{
    width: calc(100% - 30px);
    display: inline-flex;
    margin-right: 10px;
}

span.quitar-vehiculo {
    cursor: pointer;
}
.sub-item {
    box-shadow: 0px 2px 5px #00000036;
    text-align: center;
    padding: 10px 0px;
    border-radius: 15px;
    background: #F0F0F0;
}

.sub-item span {
    background: #F0F0F0;
    padding: 10px 16px;
    border-radius: 35px;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
}

.codigoQR_Preview{
    width: 100px;
}